.heading {
    &__title {
        font-size: $subtitle-size;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        color: $font-color;
        padding: 16px 16px;
        border-bottom: 4px solid $font-color;
        &_white {
            color: $promo-color;
            border-bottom: 4px solid $promo-color;
        }
    }
    &__subtitle {
        font-size: $heading-size;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        color: $font-color;
        padding: 16px 16px;
        // border-bottom: 4px solid $font-color;

        &_white {
            color: $promo-color;
            // border-bottom: 4px solid $promo-color;
        }
    }
}